/* Hero */

.hero {
  background-color: var(--primary-footer-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}

/* Hero button */

.hero__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  padding: 10px 32px;
  margin: 30px auto 0 auto;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--primary-filter-bg-color);
  color: var(--title-text-color);
}

.section__title,
.team__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

/* Benefits */

.benefits {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__list {
  display: flex;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0 0 10px 0;
}

.benefits__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

/* Do list */

.section {
  background-color: var(--primary-white-color);
  padding-bottom: 94px;
}

.section__list {
  display: flex;
}

.section__item:not(:last-child) {
  margin-right: 30px;
}

/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__card {
  background-color: var(--primary-white-color);
  height: 368px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card:not(:last-child) {
  margin-right: 30px;
}
.team__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}

.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__list {
  display: flex;
  margin: 0 auto;
}
